<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Git.Help.Now!</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  {{!-- <link rel="stylesheet" href="/scss/style.scss"> --}}

</head>


<body>
  {{!-- <div class="theme-container grow">
    <input id="dark-mode" class="dark-mode-checkbox " type="checkbox"> --}}
  <div class="wrapper darkmode">
    <header class="header">
      <h1>
        <img class="img" src="/images/ghnlogo3.png" alt="GHN Logo">
      </h1>
      <input type="text"placeholder="Search for a previously answered question here" class="searchbox inline"></input>
      <nav class="controls inline">
        <button id='bat-btn' class="bat-Btn btn-style:hover">Dark Knight Mode</button>
        
        {{#if loggedIn}}
        <button id="logout" class="btn-no-style order">logout</button>
        {{else}}
        <button id='modalBtn' class="btn-style modalBtn btn:hover order">Log In</button>
        {{!-- <a href="/login">login</a> --}}
        {{/if}}
      </nav>
    </header>
    <main>

      {{{ body }}}

    </main>
    <footer>
      <a href="https://www.fandango.com/the-batman-2022-223002/movie-overview?gclid=Cj0KCQiAjc2QBhDgARIsAMc3SqRa7s_
      61DHhpk2CJy9OuTmape90c2EkBCOMa-2fbECLlgA9vWCYIkwaAnwVEALw_wcB" target="_blank">
      <img class='footer-image1'src="/images/bat.gif" alt="Batman">
      </a>
      <img class='footer-image2'src="/images/ghnlogo5.png" alt="logo">
      <p class="bat-text">In Theaters Friday, March 4th</p>
      <p class="showtimes">GET TICKETS NOW</p>
    </footer>
  </div>
</div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>

  {{/if}}
<script src="/js/script.js"></script>  
</body>

</html>