<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Git Help Now!</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <div class="wrapper">
    <header class="header">
      <h1>
        <img class="img" src="/images/ghnlogo3.png" alt="GHN Logo">
      </h1>
      <input type="text"placeholder="What are you stuck on?" class="searchbox inline"></input>
      <nav class="controls inline">
        {{#if loggedIn}}
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <button id='modalBtn' class="btn-style modalBtn">Log In</button>
        {{!-- <a href="/login">login</a> --}}
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
      
    </main>
    <footer>
      
    </footer>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>

  {{/if}}
<script src="/js/script.js"></script>  
</body>

</html>