

.container {
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}

.form__button {
    font: 500 1rem, sans-serif;
    color: white;
    border-radius: 25px;
    background-color: red;
    cursor: pointer;
}
.form__button:hover {
    box-shadow: 0 0 8px  rgb(26, 26, 26);
    border: 2px solid white;
    background-color: rgb(114, 0, 0);
}

.form__title {
    margin-bottom: 2rem;
    text-align: center;
    color: black;
}
.form__message {
    text-align: center;
    margin-bottom: 1rem;
}

.form__text {
    color: black;
}

.form__input {
    display: inline-block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radious);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}
.email-field {
    border-radius: 25px;
    text-indent: 10px;
}
.password-field {
    border-radius: 25px;
    text-indent: 10px;
}

.header {
    border-bottom: gray solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    position: fixed;
    min-width: 100%;
    top: 0;
}
.modetoggle {
    display: inline-block;
    cursor: pointer;
}
.controls {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 50px;
    display: inline-flex;

    
}
.searchbox {
    justify-content: right;
    width: 500px;
    height: 40px;
    display: flex;
    border: solid black;
    margin-left: 50px;
    margin-right: 50px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 25px;
    text-indent: 20px;
    display: flex;
}
.btn-style {
    border-radius: 25px;
    height: 45px;
    width: 100px;
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    display: inline-block;
    cursor: pointer;
}

.btn-style:hover {
    box-shadow: 0 0 10px  rgb(26, 26, 26);
    border: solid white;
    background-color: rgb(114, 0, 0);
}

.bat-Btn {
    border-radius: 25px;
    height: 45px;
    width: 150px;
    background-color: black;
    background-image: url('../images/blackbat.png');
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(185, 0, 0);
    display: inline-block;
    cursor: pointer;
}
.bat-Btn:hover {
    box-shadow: 0 0 10px  rgb(26, 26, 26);
    border: solid red;
    background-image: url('/images/blackbat.png');
}

.order {
    order: -1;
    margin-left: 80px;
}

.img {
    height: 100px;
    width:180px;
    margin-left: 50px;
    margin-right: 50px;
    border: solid black;
    /* box-shadow: 10px 10px 5px rgb(26, 26, 26); */
    display: inline-flex;
}
.footer-image1 {
    height: 150px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    display: flex;
}
.footer-image2 {
    height: 100px;
    position: fixed;
    bottom: 5px;
    left: 5px;
    display: flex;
}
.bat-text {
    position: fixed;
    bottom: 112px;
    right: 11px;
    color: rgb(150, 2, 2);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;

}
.showtimes {
    position: fixed;
    bottom: 0px;
    right: 55px;
    color: rgb(150, 2, 2);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.modal {
    display: none;
    position: fixed; 
    padding-top: 50px;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    font-family: Arial, Helvetica, sans-serif;
  }
  .modal-content {
    position: relative; 
    background-color: white;
    padding: 20px; 
    margin: auto; 
    width: 75%;  
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  .close-btn {
    /* float: right;  */
    color: lightgray; 
    font-size: 24px;  
    font-weight: bold;
  }
  .close-btn:hover {
    color: darkgray;
  }

  .post-list {
    margin: 50px;
    padding: 150px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 25px;
  }
/* //   @-webkit-keyframes animatetop {
//     from {top:-300px; opacity:0} 
//     to {top:0; opacity:1}
//   }
//   @keyframes animatetop {
//     from {top:-300px; opacity:0}
//     to {top:0; opacity:1}
//   } */



/* dark mode toggle ==============================================*/

